<!DOCTYPE HTML>
<html>
<head>

<LINK REL=StyleSheet HREF="style.css" TITLE="Contemporary" TYPE="text/css">
<LINK REL=StyleSheet HREF="http://www.monadnock.org/sandbox/hcl/styles/text.css" TITLE="Contemporary" TYPE="text/css">

<!--<script type="text/javascript" src="http://www.monadnock.org/sandbox/hcl/JSCRIPT/slideshow.js"></script>-->

<title></title>
</head>

<body>
	<div id="slide">
	<div id="title"><h1 class="bottom" >LOREM IPSUM DOLER SIT</h1></div>
			<div id="title2"><h1 class="top">LOREM IPSUM DOLER SIT</h1></div>
			<div id="sub"><h2>Subtitle lorem ipsum</h2></div>
		
		
				<div id ="media">
						<img id="dbIMG" class = "h" src="demo.jpg" />
				</div>
				<div id="textTitle"><h3>1. SUBTITLE OPTIONAL</h3></div>
				<div id = "text"><p>Curabitur ut arcu augue. Sed non velit eget magna scelerisque ultricies vel nec sem.</p>
				</div>
				
				<div id ="media">
						<img id="dbIMG" class = "h" src="demo.jpg" />
				</div>
				<div id="textTitle"><h3>1. SUBTITLE OPTIONAL</h3></div>
				<div id = "text"><p>Curabitur ut arcu augue. Sed non velit eget magna scelerisque ultricies vel nec sem.</p>
				</div>
				
				<div id ="media">
						<img id="dbIMG" class = "h" src="demo.jpg" />
				</div>
				<div id="textTitle"><h3>1. SUBTITLE OPTIONAL</h3></div>
				<div id = "text"><p>Curabitur ut arcu augue. Sed non velit eget magna scelerisque ultricies vel nec sem.</p>
				</div>
				
				
				
				
				
				
			
				
				
				
							
		

			
			
		
		
		<div id = "button"><a href="next"><img src="http://www.monadnock.org/sandbox/hcl/IMG/next2.png" /></a></div>
		
	</div>

</body>

</html>