*{
z-index=1;
	display:block;
	font-size: 12px;
	margin:0px;
	position:relative;
}
body{
background:url('bg.jpg');
background-repeat:no-repeat;}

#airVid{
	left:100px;
	top:100px;
}


img{
	margin-left:auto;
	margin-right:auto;
}

img.v{height:90%;}
img.h{height:90%;}

#slide{

	position:relative;
	top:0px;
	left:0px;
	width:1280px;
	height:720px;
	/*background-color:grey;*/

}

#bodyBin{
	top:0;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:50%;
	background-color:none;
}

#left,#right{
	display:table;
	top:0;
	float:left;
	width:50%;
	height:100%;
	/*background-color:yellow;*/
}



#right{
	
/*	background-color:red;*/
	
}



#media{
	display:table-cell;
	vertical-align:middle;
	height:100%;
	width:50%;
}

h1,p,h2{margin:0;padding:5px;}

#title,#title2{
	top:5%;
	height:10%;
	width:95%;
	padding-left:5%;
	}
#title{

	
	
	/*background-color:blue;*/
}

#title2{
	z-index:99;
	position:absolute;
		
}

#sub{
	margin-top:4%;
	margin-left:auto;
	margin-right:auto;
	height:5%;
	padding-left:5%;
	width:95%;
	/*background-color:blue;*/
}

#sub{
	/*background-color:yellow;*/
}

#text{
	float:none;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
	height:15%;
	width:90%;
	/*background-color:orange;*/
}

.textone{
/*background-color:orange;*/
}
.texttwo{
	/*background-color:green;*/
}

#button{

position:absolute;
z-index:10;
top:90%;
left:85%;
width:15%;
height:10%;


}