<!DOCTYPE HTML>
<html>
<head>


<script type="text/javascript" src="http://www.monadnock.org/sandbox/hcl/JSCRIPT/slideshow.js"></script>



</head>



<LINK REL=StyleSheet HREF="style.css" TITLE="Contemporary" TYPE="text/css">
<LINK REL=StyleSheet HREF="http://www.monadnock.org/sandbox/hcl/styles/text.css" TITLE="Contemporary" TYPE="text/css">

<title>horiz_aaa</title>
</head>

<body>
	<div id="slide">
		<div id="left">
			<div id="title"><h1 class="bottom" >LOREM IPSUM DOLER SIT</h1></div>
			<div id="title2"><h1 class="top">LOREM IPSUM DOLER SIT</h1></div>
			<div id="sub"><h2>Subtitle lorem ipsum</h2></div>
		<div id="text" class="textone"><p>Curabitur ut arcu augue. Sed non velit eget magna scelerisque ultricies vel nec sem. Sed ultricies vulputate eros; et lacinia erat volutpat ut. Maecenas suscipit massa tempus orci lobortis placerat iaculis eros volutpat. Morbi auctor libero at metus rutrum quis imperdiet quam bibendum. Fusce et risus sed mi auctor fermentum sit amet pulvinar massa. Suspendisse potenti. Maecenas ut diam enim, in viverra libero. Pellentesque nisi mi, dictum et gravida eget, gravida quis massa. Nulla lacinia augue id mi aliquet viverra. Praesent convallis orci eget lectus condimentum eget iaculis enim sollicitudin. Donec porttitor lacinia tempus. Nunc vel quam ipsum. Cras hendrerit pulvinar tincidunt. </p></div>
		<div id="text" class="texttwo">
		

			<ul>
				<li>Quisque vitae odio pharetra nibh venenatis venenatis</li>
				<li>blandit quis sapien. Curabitur laoreet augue a leo tempus non volutpat </li>
				<li>magna adipiscing. Mauris at diam tellus. </li>
				<li>Etiam laoreet nisl vitae nibh vulputate blandit. </li>
			</ul>
		
		
		</div>
		
		
		</div>
		
	
		<div id="right">
			<div id ="media">
		<img id="dbIMG" class="h" src="demo.jpg" />
		</div>
	
		
		
		</div>
		<div id = "button"><a href="next"><img src="http://www.monadnock.org/sandbox/hcl/IMG/next.jpg" /></a></div>
	</div>

</body>

</html>