*{
z-index=1;
	display:block;
	font-size: 12px;
	margin:0px;
	position:relative;
}
body{
background:url('bg.jpg');
background-repeat:no-repeat;}

#airVid{
	left:100px;
	top:100px;
}


img{
	margin-left:auto;
	margin-right:auto;

}
img.h{width:90%;}
img.v{height:75%;}

#slide{

	position:fixed;
	top:0px;
	left:0px;
	width:1280px;
	height:720px;
	/*background-color:grey;*/

}



#left{
	float:left;
	width:50%;
	height:100%;
	/*background-color:red;*/
}

#right{
	float:left;
	left:0;
	top:0px;
	width:50%;
	height:100%;
	display:table;
	/*background-color:red;*/
}

#media{
	display:table-cell;
	vertical-align:middle;
	height:100%;
	width:100%;

}

h1,p,h2{margin:0;padding:5px;}

#title{
	top:5%;
	margin-left:auto;
	margin-right:auto;
	height:20%;
	width:80%;
	/*background-color:blue;*/
}

#title2{
	z-index:99;
	position:absolute;
	top:5%;
	left:10%;
	height:20%;
	width:80%;
	
}

#sub{
	top:5%;
	margin-left:auto;
	margin-right:auto;
	height:5%;
	width:80%;
	/*background-color:blue;*/
}

#sub{
	/*background-color:yellow;*/
}

#text{
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:80%;
	

}
.textone{
/*background-color:orange;*/
}
.texttwo{
	/*background-color:green;*/
}

#button{
z-index:10;
top:90%;
left:85%;
width:15%;
height:10%;
background:url('../IMG/next.png');

}